.container {
  background: url("../../../public/images/bg-shorten-mobile.svg");
  background-color: hsl(257, 27%, 26%);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: right top;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  font-family: "Poppins";
  max-width: 315px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.inputSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.input {
  padding: 10px;
  border-radius: 5px;
}

.input::placeholder {
  font-size: 14px;
  opacity: 0.5;
  font-family: "Poppins";
}

.input:focus {
  outline: none;
}

.button {
  background-color: hsl(180, 66%, 49%);
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  color: white;
  transition: ease-in-out 0.3s;
}

.button:hover {
    background-color: hsl(180, 78%, 55%);
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .container {
        background: url('../../../public/images/bg-shorten-desktop.svg');
        background-color: hsl(257, 27%, 26%);
        padding: 40px 0;
        background-size: cover;
        max-width: unset;
    }

    .form {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .inputSection {
        width: 80%;
        margin: 0;
    }

    .input {
        padding: 15px;
    }

    .button {
        width: 20%;
        padding: 14px;
        font-size: 14px;
    }
}

@media screen and (min-width: 1440px) {
    .form {
        width: 90%;
    }
}