.whiteBG {
  background-color: white;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grayBG {
  background-color: hsl(0, 0%, 95%);
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boostLinks {
  background: url("../public/images/bg-boost-mobile.svg") no-repeat;
  background-color: hsl(257, 27%, 26%);
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-family: "Poppins";
}

.footer {
  background-color: hsl(260, 8%, 14%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

@media screen and (min-width: 1024px) {
  .whiteBG {
    padding: 0 100px;
  }

  .grayBG {
    padding: 0 100px;
  }

  .boostLinks {
    background: url('../public/images/bg-boost-desktop.svg') no-repeat;
    background-color: hsl(257, 27%, 26%);
    background-size: cover;
    height: 35vh;
  }

  .footer {
    padding: 0 100px;
  }

}

@media screen and (min-width: 1440px) {
  .whiteBG {
    padding: 0 200px;
  }

  .grayBG {
    padding: 0 200px;
  }

  .footer {
    padding: 0 100px;
  }

}
